<div class="title-container">
    <h1>Homeroom</h1>
</div>
<div>
    <ol>
        <% @users.each do |user| %>
          <% image_tag user.avatar.url(:thumb) %>
          <li><h2><%= link_to user.first, user_path(user) %> 
          <%= link_to user.last, user_path(user) %></li></h2>    
          <hr>
        <% end %>
    </ol>
</div>