<div class="title-container">
    <h1>Homeroom</h1>
</div>
<div>
    <ol>
        <% @users.each do |user| %>
        <% if user && !user.admin %>
          <li><%= image_tag user.avatar.url(:thumb) %><%= link_to user.first, user_path(user) %> 
          <%= link_to user.last, user_path(user) %></li>
          <hr>
          <% end %>
        <% end %>
    </ol>
</div>