

<div>
    <% if current_user %>
    <div>
        <%= image_tag current_user.avatar.url(:thumb) %>
    </div>  
        <%= render 'assignments/index'%>
    <% else %>
        <p>Thank you for visiting Textbook, a Homeschool Assignment Tracker! Please Log-In or SignUp </p>
    <% end %>
</div>
    
           
         
     