

        <h1 class=center>Welcome!</h1>
<div class="row">
    <div class="col m6">
        <div class="center"> 
            <%=image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRAU2biWjTeDsFRg60YabXdvbNJhYbxailoGg&usqp=CAU"%>
         </div>
    </div>
    <div class="col m6">
        <p>Thank you for visiting Textbook, a Homeschool Assignment Tracker! This web application was designed with Homeschool Parents in mind. We understand that trying to keep tabs of multiple children, and their many subjects/assignments can be tedious.</p>
         <p>  You now have an application that allows you to monitor all of your children's assignments in one place. If you have not done so already, register for a Textbook account, get your kids started and keep track of their assignments and subjects!</p>
    </div>
</div>