<div class="title-container">
<h1>Courses</h1>
</div>

<div>
    <ul>
        <% @courses.each do |course| %>
            <li><%= link_to course.name, course_path(course) %></li>
        <% end %>
            <hr>
    </ul>
</div>
