/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* SCSS HEX */
$red-orange-color-wheel: #f6511dff;
$honey-yellow: #ffb400ff;
$carolina-blue: #00a6edff;
$apple-green: #7fb800ff;
$prussian-blue: #0d2c54ff;


 @import "bootstrap-sprockets";
 @import "bootstrap";

 .title-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 20px;
     
     h1 {
         margin: 0;
         color: #8e5572;
     }
 }

 .assignments {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
 }

 .style_image {
    border-radius: 50%;
  }
  .kids {
      border-radius: 2cm;
  }

  body {
      background-color: #040303;
  }
.home_pic {
    border-radius: 50%; 
}

.info {
    color: white;
}
 

