// Place all the styles related to the Assignments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.form-group {
    color: #0D324D;
    width:200px;
    padding:20px;
    text-align: center;
}

.title {
    color: #0D324D;
}
