// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table, th, td {
    border: 1px solid black;
    padding: 8px;
  }

   td,  th {
    border: 1px solid black;
    padding: 8px;
  }
  
   tr:nth-child(even){background-color: #f2f2f2;}
  
   tr:hover {background-color: #ddd;}
  
   th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  .style_image {
    border-radius: 50%;
  }
