<h1> HomeSchooling Resources </h1>
<hr>

<ol>
<li><h2>Facebook Groups</h2></li>
<h6>Homeschooling Resources & Support </h6>
<%= link_to image_tag("homeschool.jpg", :style => "width:200px;height:200px;"), "https://www.facebook.com/groups/homeschoolconnectionsaroundtheworld/", target: :_blank%> <br> 
<h6>Homeschooling Crafts, Activities & More</h6>
<%= link_to image_tag("arts.jpg", :style => "width:200px;height:200px;"), "https://www.facebook.com/groups/509823022702227/", target: :_blank%> 
<li><h2>Blogs</h2></li>
<h6>Simple HomeSchool </h6>
<%= link_to image_tag("simple-homeschool.png", :style => "width:200px;height:200px;"), "https://simplehomeschool.net/", target: :_blank%>
 
</ol>
